html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.3; }

* {
  padding: 0;
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

p {
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-weight: bold; }

h1 {
  color: #fff;
  font-weight: normal;
  margin: 0; }

h2 {
  font-weight: normal;
  margin: 0; }

h3,
h4,
h5,
h6 {
  text-transform: uppercase; }

h6 {
  color: #d03656; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

/**
   * @param $direction: horizontal vertical both
   example : @include center(both) || @include center(horizontal) || @include center(vertical)
   */
.btn {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid #fff;
  outline: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  border-radius: 5rem;
  padding: 1.6rem 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  margin-bottom: 3rem; }
  .btn--facebook {
    color: #5892f6;
    background-color: #fff; }
  @media only screen and (max-width: 767px) {
    .btn {
      padding: 1.6rem 1.6rem; } }

.wrapper {
  max-height: 100%;
  overflow: hidden; }

.header {
  box-shadow: 0 3px 6px #437ca741; }
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__menu {
    display: flex;
    align-items: center; }
    .header__menu li > a {
      display: inline-block;
      padding: 7px 13px;
      font-size: 14px;
      margin-left: 12px;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;
      font-weight: bold; }
    .header__menu li:first-child a {
      border-bottom: 1px solid #000; }
    .header__menu .signUp {
      border: 1px solid #000;
      border-radius: 20px; }
    .header__menu .login {
      background: #437ca7;
      border: 1px solid #437ca7;
      border-radius: 15px;
      color: white; }

.carousel {
  padding-top: 7rem; }
  .carousel__title {
    text-align: center; }
    .carousel__title h2 {
      font-size: 5.6rem;
      text-transform: uppercase;
      font-weight: bold; }

<<<<<<< HEAD
.three-step__heading {
  text-align: center;
  width: 64rem;
  margin: 0 auto; }
  .three-step__heading-title {
    font-size: 5.6rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12rem; }
.three-step__info {
  --spacing: 3rem;
  --column: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
.three-step__item {
  width: calc(calc(100% / var(--column)) - var(--spacing)); }
.three-step__box {
  display: flex; }
  .three-step__box-icon {
    font-size: 1.8rem; }
.three-step__content {
  margin-left: 1.6rem;
  margin-bottom: 3.4rem; }
  .three-step__content h4 {
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold; }
  .three-step__content span {
    font-size: 1.8rem; }
.three-step__login {
  background-color: #437ca7;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem; }
  .three-step__login-icon {
    font-size: 2rem;
    margin-right: 1rem; }
  .three-step__login img {
    margin-bottom: 4.7rem; }
@media only screen and (max-width: 1023px) {
  .three-step__heading-title {
    font-size: 3rem;
    margin-bottom: 5rem; }
  .three-step__content h4 {
    font-size: 1.4rem; }
  .three-step__content span {
    font-size: 1.4rem; } }
@media only screen and (max-width: 767px) {
  .three-step__heading {
    width: 100%; }
    .three-step__heading-title {
      font-size: 2.5rem;
      margin-bottom: 5rem; }
  .three-step__info {
    --spacing: 0;
    --column: 1;
    display: block; }
  .three-step__content h4 {
    font-size: 1.4rem; }
  .three-step__content span {
    font-size: 1.4rem; }
  .three-step__login {
    padding: 2rem; } }
=======
.benefit__inner-title {
  text-align: center;
  font-size: 5.6rem;
  margin-bottom: 6rem; }
.benefit__list {
  --spacing: 5rem;
  --column: 3;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(-1 * var(--spacing)); }
.benefit__item {
  padding: 8rem;
  width: calc(calc(100% / var(--column)) - var(--spacing));
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .benefit__item-content {
    text-align: center; }
  .benefit__item img {
    margin-bottom: 4.5rem; }
  .benefit__item h4 {
    padding-bottom: 1.6rem;
    font-size: 1.8rem;
    font-weight: bold;
    width: 14rem;
    margin: 0 auto; }
  .benefit__item span {
    font-size: 1.4rem;
    color: #051524;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    word-break: break-word; }
@media only screen and (max-width: 1023px) {
  .benefit__inner-title {
    font-size: 3rem; }
  .benefit__list {
    --column: 3;
    --spacing: 2rem; }
  .benefit__item {
    padding: 5rem; }
    .benefit__item img {
      margin-bottom: 3rem; }
    .benefit__item h4 {
      font-size: 1.4rem; }
    .benefit__item span {
      font-size: 1.4rem; } }
@media only screen and (max-width: 767px) {
  .benefit__inner-title {
    font-size: 2.5rem; }
  .benefit__list {
    --column: 1;
    --spacing: 2rem;
    flex-direction: column; } }

.footer {
  background-color: #221d1d; }
  .footer__inner {
    padding-top: 5.7rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch; }
  .footer__item {
    color: #fff; }
    .footer__item-title {
      font-size: 1.8rem;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 2rem; }
  .footer__list-item {
    color: #707070;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem; }
  .footer__list-link {
    color: #707070;
    text-decoration: none; }
  .footer__apps {
    margin-bottom: 2rem; }
  .footer__social-list {
    display: flex;
    margin-bottom: 4rem; }
  .footer__social-item:not(:first-child) {
    margin-left: 2rem; }
  .footer__social-icon {
    font-size: 3rem;
    background-color: #3c599f;
    border-radius: 50%; }
  @media only screen and (max-width: 1023px) {
    .footer__item-title {
      font-size: 1.6rem; }
    .footer__item:last-child {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end; }
    .footer__apps {
      display: flex; } }
  @media only screen and (max-width: 767px) {
    .footer__inner {
      flex-direction: column; }
    .footer__list {
      margin-bottom: 2rem; }
    .footer__item:last-child {
      display: block; } }
>>>>>>> fd217e75e9fbcb279743abccdbe8f5669d2b60ae

.footer {
  background-color: #0a0e17; }

/*# sourceMappingURL=main.css.map */
