.btn {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid $white;
  outline: none;
  color: white;
  font-family: $monster;
  border-radius: 5rem;
  padding: 1.6rem 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  margin-bottom: 3rem;
  &--facebook {
    color: #5892f6;
    background-color: #fff;
  }
  @include breakpoint(767){
    padding: 1.6rem 1.6rem;
  }
}
