.wrapper {
  max-height: 100%;
  overflow: hidden;
}
.header {
  box-shadow: 0 3px 6px #437ca741;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__menu {
    display: flex;
    align-items: center;
    li > a {
      display: inline-block;
      padding: 7px 13px;
      font-size: 14px;
      margin-left: 12px;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;
      font-weight: bold;
    }
    li:first-child {
      a {
        border-bottom: 1px solid #000;
      }
    }
    .signUp {
      border: 1px solid #000;
      border-radius: 20px;
    }
    .login {
      background: #437ca7;
      border: 1px solid #437ca7;
      border-radius: 15px;
      color: white;
    }
  }
}
