.benefit {
  &__inner {
    &-title {
      text-align: center;
      font-size: 5.6rem;
      margin-bottom: 6rem;
    }
  }
  &__list {
    --spacing: 5rem;
    --column: 3;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    margin-left: calc(-1 * var(--spacing));
  }
  &__item {
    padding: 8rem;
    width: calc(calc(100% / var(--column)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &-content {
      text-align: center;
    }
    img {
      margin-bottom: 4.5rem;
    }
    h4 {
      padding-bottom: 1.6rem;
      font-size: 1.8rem;
      font-weight: bold;
      width: 14rem;
      margin: 0 auto;
    }
    span {
      font-size: 1.4rem;
      color: #051524;
      @include textClamp(3);
    }
  }
  @include breakpoint(1023) {
    &__inner {
      &-title {
        font-size: 3rem;
      }
    }
    &__list {
      --column: 3;
      --spacing: 2rem;
    }
    &__item {
      padding: 5rem;
      img {
        margin-bottom: 3rem;
      }
      h4 {
        font-size: 1.4rem;
      }
      span {
        font-size: 1.4rem;
      }
    }
  }
  @include breakpoint(767) {
    &__inner {
      &-title {
        font-size: 2.5rem;
      }
    }
    &__list {
      --column: 1;
      --spacing: 2rem;
      flex-direction: column;
    }
  }
}
