.three-step {
  &__heading {
    text-align: center;
    width: 64rem;
    margin: 0 auto;
    &-title {
      font-size: 5.6rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 12rem;
    }
  }
  &__info {
    --spacing: 3rem;
    --column: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__item {
    width: calc(calc(100% / var(--column)) - var(--spacing));
  }
  &__box {
    display: flex;
    &-icon {
      font-size: 1.8rem;
    }
  }
  &__content {
    margin-left: 1.6rem;
    margin-bottom: 3.4rem;
    h4 {
      font-size: 1.8rem;
      font-family: $monster;
      font-weight: bold;
    }
    span {
      font-size: 1.8rem;
    }
  }
  &__login {
    background-color: #437ca7;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    &-icon {
      font-size: 2rem;
      margin-right: 1rem;
    }
    img {
      margin-bottom: 4.7rem;
    }
  }
  @include breakpoint(1023){
    &__heading{
      &-title{
        font-size: 3rem;
        margin-bottom: 5rem;
      }
    }
    &__content {
      h4 {
        font-size: 1.4rem;
      }
      span {
        font-size: 1.4rem;
      }
    }
  }
  @include breakpoint(767) {
    &__heading {
      width: 100%;
      &-title {
        font-size: 2.5rem;
        margin-bottom: 5rem;
      }
    }
    &__info {
      --spacing: 0;
      --column: 1;
      display: block;
    }
    &__content {
      h4 {
        font-size: 1.4rem;
      }
      span {
        font-size: 1.4rem;
      }
    }
    &__login{
      padding: 2rem;
    }
  }
}
